@import '../../style/colors.scss';

.filters {
	margin-top: 20px;
	display: grid;
	grid-gap: 20px;
	.filterItem {
		border: 1px solid #aaaaaa;
		background-color: #f3f3f3;
		border-radius: 15px;
		width: 278px;
		padding: 15px;
	}
	.filters_select {
		&-select {
			height: 44px;
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 21px;
			color: #000000;
			padding: 0 20px;
		}
	}
	.filters_price_form {
		&-inputs {
			display: flex;
			align-items: center;
			justify-content: space-between;
			input {
				width: 114px;
				height: 28px;
				background: #ffffff;
				border-radius: 5px;
				padding-left: 5px;
				border: 0px;
			}
		}
		&-btn {
			margin-top: 15px;
			width: 100%;
			height: 40px;
			background: $purple;
			border-radius: 5px;
			border: 0px;
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;
			color: #ffffff;
			transition: all 0.3s ease-in-out;
		}
		&-btn:hover {
			background: none;
			border: 1px solid $purple;
			color: $purple;
		}
	}
}
.filter_title {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	margin-bottom: 10px;
}
.filters_memmory-grid {
	margin-top: 10px;
	grid-gap: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.filter_memory_item {
	cursor: pointer;
	background: #ffffff;
	border-radius: 5px;
	width: 70px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	color: #aaaaaa;
}
.filters_colors-grid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(7, 1fr);
	margin-top: 10px;
}
.filter_color_item {
	cursor: pointer;
	border-radius: 5px;
	width: 28px;
	height: 28px;
}
.filters_reset-filters_btn {
	cursor: pointer;
	width: 100%;
	border: 1px solid $purple;
	border-radius: 5px;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	color: $purple;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}
