@import '../../style/JuraFont.scss';
@import '../../style/colors.scss';

.item_iphone_screen-wrp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
    .item_iphone_screen-img{
        img:first-child{
            display: none;
        }
    }
    .screen_info{
        .screen_info-name{
            font-family: 'Jura';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 43px;
            color: #000000;
            margin-bottom: 20px;
        }
        &-stock-info{
            display: flex;
            align-items: center;
            grid-gap: 30px;
            &_price{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 38px;
                color: #000000;
                span{
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px;
                }
            }
        }
        .screen_info-specifications{
            margin: 30px 0;
            width: 280px;
            padding: 15px 0px;
            background: #F3F3F3;
            border-radius: 25px;
            .specifications_item{
                font-family: 'Roboto', sans-serif;
                width: 90%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .specifications-title{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    color: #364637;
                }
                .specifications-specific{
                    font-size: 18px;
                    line-height: 21px;
                    color: #AAAAAA;
                }
            }
            .specifications-line{
                border: 1px solid #AAAAAA;
                width: 100%;
                margin: 15px 0;
            }
        }
        .screen_info_shop-selectors{
            display: flex;
            grid-gap: 20px;
            align-items: center;
            .shop-selectors-counter{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 11px 8px;
                border: 1px solid $purple;
                border-radius: 15px;
                width: 83px;
                img{
                    cursor: pointer;
                }
            }
            .shop-selectors-oneClick{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 177px;
                height: 43px;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: $purple;
                border: 1px solid $purple;
                border-radius: 15px;
                cursor: pointer;
                transition: all .3s ease-in-out;
            }
            .shop-selectors-oneClick:hover{
                background-color: $purple;
                color: #fff;
            }
            .shop-selectors-add-to-cart{
                display: flex;
                align-items: center;
                justify-content: center;
                grid-gap: 5px;
                width: 257px;
                height: 43px;
                background: $purple;
                color: #FFFFFF;
                border-radius: 15px;
                cursor: pointer;
                transition: all .3s ease-in-out;
            }
            .shop-selectors-add-to-cart:hover{
                color: $purple;
                background: #FFFFFF;
                border: 1px solid $purple;
                svg{
                    path{
                        stroke: $purple;
                    }
                }
            }
        }
        .screen_info-credit{
            margin-top: 30px;
            h5{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                color: #292929;
            }
            .credit-info{
                margin-top: 20px;
                width: 555px;
                height: auto;
                padding: 20px;
                background: #F3F3F3;
                border-radius: 25px;
                p{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    color: #292929;
                }
            }
        }
    }
}