@import '../../style/JuraFont.scss';

.mainOffer{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.mainoffer_block-offer{
    border: 1px solid #AAAAAA;
    border-radius: 43px;
    padding: 30px 30px 40px 30px;
    display: flex;
    &_txt{
        h2{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 57px;
        color: #000000;
        width: 545px;
        margin-bottom: 20px;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            color: #000000;
            width: 429px;
        }
    }
    img{
        margin-left: 20px;
        animation-duration: 1.5s;
        animation-name: pump;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
}

@keyframes pump {
    from {
        transform: translateY(-10px);
    //   transform: rotate(-5deg);
    }

    to {
        transform: translateY(10px);
        // transform: rotate(5deg);
    }
}
.mainoffer_block_popular{
    transition: all .3s ease-in-out;
    border: 1px solid #AAAAAA;
    border-radius: 43px;
    padding: 20px 20px 40px 20px;
    background: linear-gradient(0deg, rgba(243, 243, 243, 0.74), rgba(243, 243, 243, 0.74)), url('../../assets//img/popularIphone.png') no-repeat;
    .popular-sticker{
        background: #3522B0;
        border-radius: 20px;
        padding: 10px;
        width: 137px;
        margin-bottom: 104px;
        span{
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
        }
    }
    &_txt{
        h4{
            width: 237px;
            font-family: 'Jura';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            color: #111111;
            margin-bottom: 15px;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            color: #111111;
            width: 240px;
        }
    }   
}
.mainoffer_block_popular:hover{
    transform: translateY(-15px);
}